:root {
  --clr-white: 255 255 255;
  --clr-primary: 83 177 117;
  --clr-neutral-600: 124 124 124;
  --clr-neutral-900: 3 3 3;
  --clr-orange: 248 164 76;
  --clr-blue-900: 24 23 37;
  --clr-pink: 247 165 147;
  --clr-purple: 211 176 224;
  --clr-babyBlue: 183 223 245;
  --clr-yellow: 253 229 152;
}
